<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stalker Lake Cabin</title>
    <link rel="shortcut icon" href="fish.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="home.css" />
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script>document.body.className += 'fade-out'; </script>
    $(function() {
        $('body').removeClass('fade-out');
    }); -->

</head>

<body>

    <div>
        <div class="embed-responsive embed-responsive-1by1"></div>
        <video class="embed-responsive-item" autoplay muted loop id="myVideo">
            <source src="DJI_0108.webmhd.webm" type="video/webm">
        </video>

        <div class="content fixed-top">
            
            <h1>
                <strong>31250 Golf Course Lane</strong>
            </h1>           
            
            <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                    <!-- <div class="bg-medium p-4"> -->
                    <!-- <h4 class="text-white">31250 Golf Course Lane</h4> -->
                    <a href="file.html">
                        <h4>31250 Golf Course Lane</h4>
                    </a>
                    <br>
                    <!-- <h4 class="text-white">Stalker Lake Golf Course and Bar and Grill</h4> -->
                    <a href="http://www.golfstalkerlake.com/" target="_blank">
                        <h4>Stalker Lake Golf Course and Bar and Grill</h4>
                    </a>
                    <br>
                    <!-- <h4 class="text-white">There's So Much to Do in Otter Tail County</h4> -->
                    <a href="https://ottertaillakescountry.com/" target="_blank">
                        <h4>There's So Much to Do in Otter Tail County</h4>
                    </a>
                    <br>
                    <!-- </div> -->
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="stroke">
                        <strong>Click Here to Learn More About Our Cabin and Nearby Attractions</strong>
                    </span>
                </button>
            </div>
            
                <h2>
                    <strong>Get Away to Rest or Play!</strong>
                </h2>
            
        </div>


    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>