<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Stalker Lake Cabin Page 2</title>
  <link rel="shortcut icon" href="fish.ico" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="propinfo.css" />
  <script src="main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="home.html">Home Page
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="file.html">Photo Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Property Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cal.html">Available Dates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rates.html">Rental Rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.dnr.state.mn.us/lakefind/lake.html?id=56043700">Lake Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://goo.gl/maps/8q2sedF8zYm" target="_blank">Google Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact Info</a>
        </li>
        </li>
      </ul>
    </div>
  </nav>
  <img src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/010046522485/media/23672594320/medium/1526094589/enhance"
    alt="Norway" width="100%" height="300">
  <h5> Our cabin is located on Stalker Lake in Otter Tail County. It's a 2 to 3 hour drive from the Twin Cities, just off of Highway
    94. The cabin sits on a 7 acre wooded parcel that separates our cabin from the other cabins and provides the privacy
    you're looking for when you're "at the lake". You can enjoy an evening around the fire or grilling on the deck without
    neighbors 30 feet to either side. For nature watchers we have 500 feet of undisturbed lakefront that attracts songbirds,
    humming birds and butterflies. We also have mowed trails for a walk in the woods to see if the deer and turkeys might
    be feeding in the food plots. As the pictures suggest, the fishing is very good. Stalker Lake is 1300 acres and depending
    on the time of year, you can catch Sunfish, Largemouth and Northern Pike right from the dock. You can also jig or troll for Walleyes that are usually 100 yards out from our dock along the drop-off.  And for the Golfer's, Stalker Lake Golf Course is less than 1 mile away.</h5>
  <br>
  <h4>The Cabin has:</h4>
  <h4>2 Bedrooms</h4>
  <h4>1 Bathroom</h4>
  <h4>1100sqft</h4>
  <h4>400sqft Wrap Around Deck</h4>
  <h4>600ft of Lakeshore</h4>
  <h4>50ft Dock</h4>
  <h4>30ft Swimming Area</h4>
  <h4>8 Person Ocupancy</h4>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>