<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Stalker Lake Cabin Rates</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="fish.ico" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="rates.css" />
  <script src="main.js"></script>
  
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="home.html">Home Page
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="file.html">Photo Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="propinfo.html">Property Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cal.html">Available Dates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rates.html">Rental Rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.dnr.state.mn.us/lakefind/lake.html?id=56043700">Lake Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://goo.gl/maps/8q2sedF8zYm" target="_blank">Google Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact Info</a>
        </li>
        </li>
      </ul>
    </div>
  </nav>
  <h2 style="text-align:center">Summer Rates</h2>
  <p style="text-align:center"></p>
  <div class="columns">
    <ul class="price">
      <li class="header">4 Days (min stay)</li>
      <li class="grey">$1200.00</li>
      <!-- <li>Pontoon Rental $100.00 wkly</li> -->
      <li>Kayak Rental $25.00 per wkly</li>
      <li>Firewood Not Included</li>
      <li>Folding Chairs Not Included</li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li class="header" style="background-color:#4CAF50">Weekly</li>
      <li class="grey">$1200.00</li>
      <!-- <li>Pontoon Rental $100.00 wkly</li> -->
      <li>Kayak Rental $25.00 per wkly</li>
      <li>Firewood Not Included</li>
      <li>Folding Chairs Not Included</li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li class="header">Monthly</li>
      <li class="grey">$4500.00</li>
      <!-- <li>Pontoon Rental $100.00 wkly</li> -->
      <li>Kayak Rental $25.00 per wkly</li>
      <li>Firewood Not Included</li>
      <li>Folding Chairs Not Included</li>
    </ul>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>